* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.container {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.controls {
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 45%;

    & .next {
        margin-right: 10px;
        color: rgb(168, 177, 156);


    }

    & .prev {
        margin-left: 10px;
        color: rgb(168, 177, 156);

    }
}

/* Qui praticamente dico, che tutte le immagini tranne quelle che hanno la classe active devono essere invisibili in pagina*/

img:not(.active) {
    display: none;
}


.next:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.prev:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}