* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(30, 26, 82);
}
img {
    width: 100%;  
    height: 100% ;
    object-fit: cover;
}
.slides{
    width: 100%;
    height: 100%;

}
.container {
    max-width: 1200px;
    height: 50%;
    width: 80%;   
    margin: 0 auto;
    position: relative;
    
}

.controls {
    font-size: 40px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    & .next {
        margin-bottom: 10px;
        color: rgb(168, 177, 156);
    }

    & .prev {
        margin-top: 10px;
        color: rgb(168, 177, 156);
    }
}

/* Qui praticamente dico, che tutte le immagini tranne quelle che hanno la classe active devono essere invisibili in pagina*/

img:not(.active) {
    display: none;
}


.next:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.prev:hover {
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

